@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Comfortaa&display=swap");
:root {
  --color_blanco: #fff;
  --color_fondo_1: #d6f8b8;
  --color_fondo_2: #acdeaa;
  --color_menu_1: #8fbbaf;
  --color_texto_1: #677b8e;
  --color_negro: #000;
  --color_links: #0070f3;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  background-color: var(--color_fondo_1);
}

.title a{
  color: var(--color_links);
  text-decoration: none;
}
.title{
  font-size: 3rem;
  padding: 0;
  margin-bottom: 1rem;
  border: 0;
  align-items: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 100vh;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.contenedor-imagenes {
  margin: 4rem;
  display: flex;
  justify-content: space-around;
}

.img-1, .img-2 {
  position: relative;
}
.img-calendario-horizontal, .img-calendario-vertical {
  display: block;
  width: 100%;
  cursor: pointer;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: var(--color_blanco);
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay--blur {
  backdrop-filter: blur(5px);
}
.image__overlay--primary {
  background: #009578;
}
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.image__overlay:hover {
  opacity: 1;
  cursor:pointer;
}
.image__overlay:hover > * {
  transform: translateY(0);
}
.image__title {
  font-size: 2em;
  font-weight: bold;
}
.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
  text-align: center;
}

.titulo {
  text-align: center;
  font-size: 5rem;
  margin-top: auto;
}

.descripcion {
  font-size: 2rem;
  opacity: 1;
  text-align: center;
}

footer {
  text-align: center;
  margin: 30px auto;
}
footer > p{
  display:inline;
}
footer > a {
  color: var(--color_links);
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  background-color: var(--color_menu_1);
  margin:0;
}
#btn-menu {
  display: none;
}
#semestre > ul {
  display: none;
  flex-direction: column;
}
#semestre {
  cursor: pointer;
}
#semestre:hover > ul{
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
}
header label:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}
.menu{
  width: 100%;
}
.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li {
  border-right: 1px solid #fff;
  align-items: center;
  font-size: 1.5rem;
}
.menu li:hover {
  background: rgba(0, 0, 0, 0.3);
}
.menu li ul{
  text-align: center;
  width: 7.3rem;
  font-size: 1.5rem;
  display:none;
  position: absolute;
  border:1px solid #fff;
  background-color:var(--color_menu_1);
  z-index: 1000;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
.links-items {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.links-items > p {
  margin-left: 5px;
  margin-right: 5px;
}

main a {
  color: #0070f3;
  text-decoration: none;
}

.container {
  width: 100%;
}
.time-line-container {
  width: 90%;
  margin:15px auto;
}
#horizontal {
  height: 30rem;
}
#vertical {
  height: 35rem;
}
.volver{
  list-style: none;
  display: flex;
  float: right;
  background-color: var(--color_menu_1);
  margin: 0;
  padding: 0;
  width: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  border-left: 1px solid var(--color_blanco);
  border-right: 1px solid var(--color_blanco);
}

.volver a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.volver:hover{
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;

}
#volver-1-horizontal{
  display:none;
}
#volver-1-vertical{
  display: none;
}
@media (max-width: 1000px) {
  .contenedor-imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-1 {
    margin-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  header label {
    display: block;
    
  }
  header {
    display: block;
    margin-bottom: 2rem;
  }
  .menu {
    position: absolute;
    background-color: var(--color_menu_1);
    width: 100%;
    margin-left: -100%;
    text-align: center;
    transition: 0.5s;
    z-index: 10000;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid #fff;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }
  .menu li ul{
    position: relative;
    width: 100%;
  }
  .menu li ul li {
    border:none;
  }
  #volver-1-horizontal{
    display:block;
  }
  #volver-2-horizontal{
    display:none;
  }
  #volver-1-vertical{
    display:block;
  }
  #volver-2-vertical{
    display:none;
  }
  .volver a{
    display: block;
    padding: 10.5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  .image__description{
    font-size: 0.9rem;
    
  }
  .image__title{
    margin-top:0.2rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}

.legend { 
  list-style: none;
  overflow:hidden;
  padding:0;
  display: flex;
  justify-content: center;
}
.legend li { 
  float: left; 
  margin-right: 10px; 
}
.legend span { 
  border: 1px solid #ccc; 
  float: left; 
  width: 12px; 
  height: 12px; 
  margin: 2px; 
}

.botones {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  padding: .375rem .75rem;
  margin-right: 10px;
  border-radius: .25rem;
  background-color: #868AEC;
  color: var(--color_blanco);
  border-color: #868AEC;
  transition: background-color .15s ease-in-out;
}

.boton:hover, .boton:focus {
  background-color: #676CD5;
  border-color:#676CD5;
}

.boton:active {
  background-color: var(--color_texto_1);
  color:var(--color_blanco);
}

.timeLine-main-data-row div:hover {
  opacity:0.8;
  transition: .4s;
}

.timeLine-main-data-task-side-linker{
  display:none;
}

#sin-eventos, #text-calend {
  text-align: center;
}

